# NeonDB connection string. Used for both application queries and migrations.
DATABASE_URL="postgresql://[YOUR_USER]:[YOUR_PASSWORD]@[YOUR_HOST]/[YOUR_DATABASE]?sslmode=require"

# Optional: Direct connection for migrations (if different from DATABASE_URL).
# If not provided, DATABASE_URL will be used for migrations as well.
# DIRECT_URL="postgresql://[YOUR_USER]:[YOUR_PASSWORD]@[YOUR_HOST]/[YOUR_DATABASE]?sslmode=require"

# Better Auth
BETTER_AUTH_SECRET="secret_key"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"